@value makerGreen , makerBlack,makerWhite from '../../../common/colors.css';

.preview {
  flex: 1 1 50%;
  padding: 0 1em;
  overflow-y: auto;
}
.title {
  text-align: center;
  color: makerGreen;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 0.8em 0;
}
