@value makerLightGrey, makerBlack, makerWhite from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';

.container {
  width: 80%;
  height: 100%;
  background-color: makerWhite;
  display: flex;
  flex-direction: column;
}
.maker {
  display: flex;
  flex: 1;
  min-height: 0;
}

.line {
  width: 1px;
  background-color: makerLightGrey;
}

@media screen and (max-width: mediaQuery) {
  .maker {
    flex-direction: column;
  }
}
